# Source
/src
/test
/examples

# Config files
.eslintrc.js
.prettierrc
.gitignore
.github
.husky
jest.config.js
tsconfig*.json
commitlint.config.js

# IDE
.vscode
.idea

# Tests
coverage
*.spec.ts
*.test.ts

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules

# CI/CD
.github
.codecov.yml
